bin
*.classpath
/.metadata/*
/RemoteSystemsTempFiles/*
/Organizing Maps/.classpath
/Organizing Maps/.classpath

/Organizing Maps/src/maps/TestClasses/TestSOM.java
/Organizing Maps/src/maps/TestClasses/TestNode.java
/Organizing Maps/*.classpath
